body{
    background-color:antiquewhite;
    font-family: fantasy;
}
h1{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 900;
    text-align: center;
}

h2{
    color: deepskyblue;
}

#h2Title{
    color: rgb(255, 80, 80);
    text-align: center;
    max-width: 75%;
    margin: auto;
    background-color:  rgb(202, 226, 236);
    padding: 3%;
}

h3{
    color: blue;
}

#h1Title{
    font-style: italic;
    color: cornflowerblue;
}

ul{
    border: 3px solid rgba(136, 97, 14, 0.689);
}

li{
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    padding: 10px;
}


#mainList{
    color: rgb(194, 43, 43);
}